/* CSS to help  visualize my grid.*/

.main-container {
  background-color: rgb(135, 149, 189);
  border: 2px solid black;
}

/*--------Project CSS---------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

/*---------SIDEBAR----------*/

.sidebar-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr;
  justify-items: center;
  background-color: #2196f3;
}

.sidebar-container .icon-heading {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.sidebar-container h3,
.sidebar-container a {
  color: white;
  font-weight: bold;
}

.sidebar-container ul li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.icon-before {
  display: grid;
  gap: 30px;
}

.microsoft-icon {
  width: 30px;
  height: 30px;
  fill: white;
}

.icon-before svg {
  width: 16px;
  height: 16px;
  fill: white;
}
/*---------HEADER----------*/
.header-container {
  padding: 15px 20px;
  background-color: white;
}
.header-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-bottom: 20px;
}
.header-top-left,
.header-bottom-left {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: center;
}
.header-top-right,
.header-bottom-right {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  align-items: center;
}
.header-bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search-icon,
.bell-ring-icon {
  width: 20px;
  height: 20px;
}
.header-top .account-icon {
  width: 30px;
  height: 30px;
}

.header-bottom .account-icon {
  width: 50px;
  height: 50px;
}

.header-bottom button {
  display: inline-block;
  padding: 5px 20px;
  border: none;
  color: white;
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 20px;
}

input[type="search"] {
  width: 400px;
  font-size: 18px;
  border: none;
  background-color: #61565633;
  border-radius: 8px;
  outline: none;
}
